<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StudyInfo">
    <resultMap id="StudyMap" type="StudyInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="s_id" property="s_id" jdbcType="VARCHAR"/>
        <result column="s_name" property="s_name" jdbcType="VARCHAR"/>
        <result column="s_major" property="s_major" jdbcType="VARCHAR"/>
        <result column="c_id" property="c_id" jdbcType="INTEGER"/>
        <result column="c_name" property="c_name" jdbcType="VARCHAR"/>
        <result column="c_belong" property="c_belong" jdbcType="VARCHAR"/>
        <result column="c_credit" property="c_credit" jdbcType="INTEGER"/>
        <result column="c_time" property="c_time" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,s_id,s_name,s_major,c_id,c_name,c_belong,c_credit,c_time
    </sql>

    <select id="selectByClzName" resultMap="StudyMap" parameterType="java.lang.String" >
        SELECT <include refid="Base_Column_List" />
        FROM study WHERE c_name = ${clzName}
    </select>

    <select id="selectByClzId" resultMap="StudyMap" parameterType="java.util.Map" >
        SELECT <include refid="Base_Column_List" />
        FROM study WHERE c_id = ${clzId}
    </select>

    <select id="selectByStuId" resultMap="StudyMap" parameterType="java.util.Map" >
        SELECT <include refid="Base_Column_List" />
        FROM study WHERE s_id = ${stuId}
    </select>


    <select id="selectByStuIdAndClzId" resultMap="StudyMap" parameterType="java.util.Map">
        SELECT <include refid="Base_Column_List" />
        FROM study WHERE c_id = ${clzId} AND s_id = ${stuId}
    </select>

    <insert id="insert" parameterType="StudyInfo">
        INSERT INTO study (s_id,s_name,s_major,c_id,c_name,c_belong,c_credit,c_time)
        VALUES (#{s_id,jdbcType=VARCHAR},#{s_name,jdbcType=VARCHAR},#{s_major,jdbcType=VARCHAR},
        #{c_id,jdbcType=INTEGER},#{c_name,jdbcType=VARCHAR},#{c_belong,jdbcType=VARCHAR},
        #{c_credit,jdbcType=INTEGER},#{c_time,jdbcType=VARCHAR})
    </insert>

    <delete id="delete" parameterType="java.util.Map">
        DELETE FROM study WHERE c_id = ${clzId} AND s_id = ${stuId}
    </delete>

</mapper>
